/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  font-size: 3rem;
  font-weight: bold;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
  color: #353535;
  background: #eaeaea;
}
html,
body {
  height: 100%;
}
.container {
  width: 1028px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 500px;
  }
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
  width: 90%;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
header a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #353535;
}
.title {
  background: #A3FFA4;
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 5rem;
  border: 1px solid #353535;
  border-radius: 25px;
  align-items: center;
}
@media (max-width: 500px) {
  .title {
    width: 95%;
  }
}
.title .my-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.title .my-info h1 {
  margin: 2rem;
}
@media (max-width: 500px) {
  .title .my-info h1 {
    font-size: 3rem;
    margin: 1rem;
  }
}
.title .my-info address {
  font-size: 2rem;
  margin: 2rem;
}
@media (max-width: 500px) {
  .title .my-info address {
    font-size: 1.6rem;
    margin: 1rem;
  }
}
.title .my-info p {
  font-size: 2rem;
  margin: 2rem;
}
@media (max-width: 500px) {
  .title .my-info p {
    font-size: 1.6rem;
    margin: 1rem;
  }
}
.title .jake {
  margin: 2rem;
  width: 33%;
  height: 33%;
}
.education {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .education {
    width: 90%;
  }
}
.education .ed-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border-top: 1px solid;
  padding: 1rem 0 0 0;
}
.education h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.education h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.education p {
  font-size: 1.6rem;
}
.experience {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .experience {
    width: 90%;
  }
}
.experience h3 {
  margin-bottom: 2rem;
  width: 100%;
}
.experience .box {
  background: #A3FFA4;
  height: auto;
  width: 48%;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border: 1px solid #353535;
  border-radius: 15px;
}
.experience .box h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.experience .box p {
  font-size: 1.6rem;
}
.accomplishments {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .accomplishments {
    width: 90%;
  }
}
.accomplishments h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.accomplishments p {
  font-size: 1.6rem;
  margin: 1rem 0;
}
.pro-references {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .pro-references {
    width: 90%;
  }
}
.pro-references h3 {
  margin-bottom: 2rem;
  width: 100%;
}
.ref {
  background: #A3FFA4;
  height: auto;
  width: 48%;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border: 1px solid #353535;
  border-radius: 15px;
}
.ref h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.char-references {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .char-references {
    width: 90%;
  }
}
.char-references h3 {
  margin-bottom: 2rem;
  width: 100%;
}
